<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Classes</key>
	<array>
		<array>
			<string>Basic</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>Warrior</string>
			<integer>4</integer>
			<integer>4</integer>
			<integer>-2</integer>
			<integer>-2</integer>
			<integer>0</integer>
			<integer>2</integer>
		</array>
		<array>
			<string>Priest</string>
			<integer>-2</integer>
			<integer>-2</integer>
			<integer>3</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>4</integer>
		</array>
		<array>
			<string>Explorer</string>
			<integer>1</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>-4</integer>
		</array>
	</array>
	<key>Room</key>
	<array>
		<string>Anteroom</string>
		<string>Armory</string>
		<string>Assembly Room</string>
		<string>Backroom</string>
		<string>Ballroom</string>
		<string>Bathroom</string>
		<string>Bedroom</string>
		<string>Boardroom</string>
		<string>Boiler Room</string>
		<string>Boudoir</string>
		<string>Breakfast Nook</string>
		<string>Cell</string>
		<string>Cellar</string>
		<string>Chamber</string>
		<string>Changing Room</string>
		<string>Chapel</string>
		<string>Classroom</string>
		<string>Clean Room</string>
		<string>Cloakroom</string>
		<string>Cold Room</string>
		<string>Common Room</string>
		<string>Conference Room</string>
		<string>Conservatory</string>
		<string>Control Room</string>
		<string>Courtroom</string>
		<string>Darkroom</string>
		<string>Den</string>
		<string>Dining Room</string>
		<string>Dormitory</string>
		<string>Drawing Room</string>
		<string>Dressing Room</string>
		<string>Dungeon</string>
		<string>Emergency Room</string>
		<string>Engine Room</string>
		<string>Family Room</string>
		<string>Fitting Room</string>
		<string>Formal Dining Room</string>
		<string>Game Room</string>
		<string>Garret</string>
		<string>Great Room</string>
		<string>Green Room</string>
		<string>Guest Room</string>
		<string>Gym</string>
		<string>Hallway</string>
		<string>Homeroom</string>
		<string>Inglenook</string>
		<string>Keep</string>
		<string>Kitchen</string>
		<string>Larder</string>
		<string>Laundry Room</string>
		<string>Library</string>
		<string>Living Room</string>
		<string>Locker Room</string>
		<string>Loft</string>
		<string>Lounge</string>
		<string>Maid&apos;s Room</string>
		<string>Morning Room</string>
		<string>Mud Room</string>
		<string>Nursery</string>
		<string>Office</string>
		<string>Panic Room</string>
		<string>Parlor</string>
		<string>Playroom</string>
		<string>Pool Room</string>
		<string>Powder Room</string>
		<string>Rumpus Room</string>
		<string>Screen Porch</string>
		<string>Scullery</string>
		<string>Sick Room</string>
		<string>Sitting Room</string>
		<string>Solarium</string>
		<string>Staff Room</string>
		<string>Stateroom</string>
		<string>Studio</string>
		<string>Study</string>
		<string>Suite</string>
		<string>Sunroom</string>
		<string>Tack Room</string>
		<string>Utility Room</string>
		<string>Vestibule</string>
		<string>Wardroom</string>
		<string>Washroom</string>
		<string>Weight Room</string>
		<string>Wine Celler</string>
	</array>
	<key>Happening</key>
	<array>
		<array>
			<string>Sneaky Monkey</string>
			<string>A monkey! He stole one of your items!</string>
			<string>Lose an item</string>
		</array>
		<array>
			<string>Sticky Trap</string>
			<string>You walk into the room and step in something sticky.</string>
			<string>-1 Evasion</string>
		</array>
		<array>
			<string>Cobwebs</string>
			<string>You would expect nothing less in a house this creepy.</string>
			<string>-1 Evasion</string>
		</array>
		<array>
			<string>Ankle Sprain</string>
			<string>You step funny. Thats going to make it hard to run.</string>
			<string>-1 Evasion</string>
		</array>
		<array>
			<string>Hole in the Floor</string>
			<string>You step in a hole.</string>
			<string>-1 Evasion</string>
		</array>
		<array>
			<string>Nails</string>
			<string>Ow! Why would someone leave these all over the floor!</string>
			<string>-1 Evasion</string>
		</array>
		<array>
			<string>Weapon Malfunction</string>
			<string>Your weapon seems to have a problem.</string>
			<string>-1 Attack</string>
		</array>
		<array>
			<string>Cut</string>
			<string>You cut your hand on the doorway.</string>
			<string>-1 Attack</string>
		</array>
		<array>
			<string>Spider Bite</string>
			<string>You feel a little woozy.</string>
			<string>-1 Attack</string>
		</array>
		<array>
			<string>Trap</string>
			<string>Its a trap!</string>
			<string>-1 Attack</string>
		</array>
		<array>
			<string>Cramp</string>
			<string>The weight of your sword hurts your hand.</string>
			<string>-1 Attack</string>
		</array>
		<array>
			<string>Wet Floor</string>
			<string>Where&apos;s the wet floor sign?!</string>
			<string>-1 Defense</string>
		</array>
		<array>
			<string>Marble</string>
			<string>A fun game, but not when your in battle.</string>
			<string>-1 Defense</string>
		</array>
		<array>
			<string>Clock</string>
			<string>Tick, tock, tick, tock. You&apos;ve been hypnotized slowing your reflexes.</string>
			<string>-1 Defense</string>
		</array>
		<array>
			<string>Over encumbered</string>
			<string>Your backpack is very very heavy after all this walking around.</string>
			<string>-1 Defense</string>
		</array>
		<array>
			<string>Cracked Shield</string>
			<string>Well, this is pretty much useless now.</string>
			<string>-1 Defense</string>
		</array>
		<array>
			<string>Yourself?!</string>
			<string>You enter the room, and there you are looking back.</string>
			<string>-1 Sanity</string>
		</array>
		<array>
			<string>Body Parts</string>
			<string>Blood on the walls, arms in the corner, and legs hanging from the ceiling.</string>
			<string>-1 Sanity</string>
		</array>
		<array>
			<string>Missed Call</string>
			<string>You were supposed to be home hours ago...</string>
			<string>-1 Sanity</string>
		</array>
		<array>
			<string>Shreaks</string>
			<string>Bone chilling screams ring out through the house.</string>
			<string>-1 Sanity</string>
		</array>
		<array>
			<string>Spirit</string>
			<string>You believe in ghosts, but never thought one would confront you.</string>
			<string>-1 Sanity</string>
		</array>
		<array>
			<string>Mouse Trap</string>
			<string>You reach for what you think is an item. It&apos;s not.</string>
			<string>-1 Luck</string>
		</array>
		<array>
			<string>Black Cat</string>
			<string>Oh great. Exactly what you didn&apos;t need right now.</string>
			<string>-1 Luck</string>
		</array>
		<array>
			<string>Latter</string>
			<string>You walk under a latter... oops.</string>
			<string>-1 Luck</string>
		</array>
		<array>
			<string>Broken Mirror</string>
			<string>Mirror, mirror on the wall. Why did you have to fall?</string>
			<string>-1 Luck</string>
		</array>
		<array>
			<string>Crow</string>
			<string>You spot crows circling overhead. Better watch yourself.</string>
			<string>-1 Luck</string>
		</array>
		<array>
			<string>Net</string>
			<string>You get tangled in a net.</string>
			<string>-1 Stealth</string>
		</array>
		<array>
			<string>Bear Trap</string>
			<string>You didn&apos;t loose your foot, but it made a big noise.</string>
			<string>-1 Stealth</string>
		</array>
		<array>
			<string>Creeky Floor</string>
			<string>Is there anything in this house that doesn&apos;t creek?</string>
			<string>-1 Stealth</string>
		</array>
		<array>
			<string>Creeky Door</string>
			<string>That will draw the monsters attention.</string>
			<string>-1 Stealth</string>
		</array>
		<array>
			<string>Sticks</string>
			<string>Sticks and stones may break my bones, but so will monsters.</string>
			<string>-1 Stealth</string>
		</array>
	</array>
	<key>Music</key>
	<true/>
	<key>Item</key>
	<array>
		<array>
			<string>Food</string>
			<string>You find some food, you eat it.</string>
			<string>+1 Health</string>
			<string>Other</string>
		</array>
		<array>
			<string>Boots</string>
			<string>The old tenents boots, they are llight on your feet.</string>
			<string>+1 Evasion</string>
			<string>Evasion</string>
		</array>
		<array>
			<string>Key</string>
			<string>Your escape awaits.</string>
			<string>You can escape</string>
			<string>Other</string>
		</array>
		<array>
			<string>Key</string>
			<string>Your escape awaits.</string>
			<string>You can escape</string>
			<string>Other</string>
		</array>
		<array>
			<string>Key</string>
			<string>Your escape awaits.</string>
			<string>You can escape</string>
			<string>Other</string>
		</array>
		<array>
			<string>Key</string>
			<string>Your escape awaits.</string>
			<string>You can escape</string>
			<string>Other</string>
		</array>
		<array>
			<string>Key</string>
			<string>Your escape awaits.</string>
			<string>You can escape</string>
			<string>Other</string>
		</array>
		<array>
			<string>Key</string>
			<string>Your escape awaits.</string>
			<string>You can escape</string>
			<string>Other</string>
		</array>
		<array>
			<string>Key</string>
			<string>Your escape awaits.</string>
			<string>You can escape</string>
			<string>Other</string>
		</array>
		<array>
			<string>Med Kit</string>
			<string>You find some medicine for your cuts and broken bones</string>
			<string>+3 Health</string>
			<string>Other</string>
		</array>
		<array>
			<string>Bandages</string>
			<string>You find bandages for your wounds.</string>
			<string>+1 Health</string>
			<string>Other</string>
		</array>
		<array>
			<string>Aspirin</string>
			<string>You find some Aspirin.</string>
			<string>+1 Health</string>
			<string>Other</string>
		</array>
		<array>
			<string>Splint</string>
			<string>You find a splint for a serious injury.</string>
			<string>+1 Health</string>
			<string>Other</string>
		</array>
		<array>
			<string>Tacks</string>
			<string>A box of tacks.</string>
			<string>+2 Evasion</string>
			<string>Evasion</string>
		</array>
		<array>
			<string>Pepper Spray</string>
			<string>Standard issue pepper spray</string>
			<string>+3 Evasion</string>
			<string>Evasion</string>
		</array>
		<array>
			<string>Flashbang</string>
			<string>Military issue flash bang</string>
			<string>+4 Evasion</string>
			<string>Evasion</string>
		</array>
		<array>
			<string>Jetpack</string>
			<string>Seriously!? A Jet Pack!</string>
			<string>+5 Evasion</string>
			<string>Evasion</string>
		</array>
		<array>
			<string>Dagger</string>
			<string>A simple mans tool</string>
			<string>+1 Attack</string>
			<string>Attack</string>
		</array>
		<array>
			<string>Sword</string>
			<string>Looks like it is from medieval times</string>
			<string>+2 Attack</string>
			<string>Attack</string>
		</array>
		<array>
			<string>Pistol</string>
			<string>Now we&apos;re talking</string>
			<string>+3 Attack</string>
			<string>Attack</string>
		</array>
		<array>
			<string>Shotgun</string>
			<string>This should do some damage</string>
			<string>+4 Attack</string>
			<string>Attack</string>
		</array>
		<array>
			<string>Minigun</string>
			<string>Oh baby a minigun!!</string>
			<string>+5 Attack</string>
			<string>Attack</string>
		</array>
		<array>
			<string>Gloves</string>
			<string>Simple working gloves, minimal protection</string>
			<string>+1 Defense</string>
			<string>Defense</string>
		</array>
		<array>
			<string>Leather Armor</string>
			<string>Some decent armor</string>
			<string>+2 Defense</string>
			<string>Defense</string>
		</array>
		<array>
			<string>Wooden Shield</string>
			<string>This will stop some meaty damage</string>
			<string>+3 Defense</string>
			<string>Defense</string>
		</array>
		<array>
			<string>Master Shield</string>
			<string>Like from that other game?</string>
			<string>+4 Defense</string>
			<string>Defense</string>
		</array>
		<array>
			<string>Suit of Armor</string>
			<string>It might be fake, but it should help</string>
			<string>+5 Defense</string>
			<string>Defense</string>
		</array>
		<array>
			<string>Flower</string>
			<string>Roses are red, Violets are blue</string>
			<string>+1 Sanity</string>
			<string>Sanity</string>
		</array>
		<array>
			<string>Photos</string>
			<string>Some photos of a long time ago</string>
			<string>+2 Sanity</string>
			<string>Sanity</string>
		</array>
		<array>
			<string>MP3 Player</string>
			<string>This will help drown out the sounds</string>
			<string>+3 Sanity</string>
			<string>Sanity</string>
		</array>
		<array>
			<string>The Bible</string>
			<string>And God said let there be light</string>
			<string>+4 Sanity</string>
			<string>Sanity</string>
		</array>
		<array>
			<string>&quot;Herbs&quot;</string>
			<string>Dude, this is trippy</string>
			<string>+5 Sanity</string>
			<string>Sanity</string>
		</array>
		<array>
			<string>Candle</string>
			<string>Light up the darkness</string>
			<string>+1 Luck</string>
			<string>Luck</string>
		</array>
		<array>
			<string>Magnifying Glass</string>
			<string>To help you see better</string>
			<string>+2 Luck</string>
			<string>Luck</string>
		</array>
		<array>
			<string>4 Leaf Clover</string>
			<string>Now your luck is changing</string>
			<string>+3 Luck</string>
			<string>Luck</string>
		</array>
		<array>
			<string>Metal Detector</string>
			<string>I sure hope I can find something with this</string>
			<string>+4 Luck</string>
			<string>Luck</string>
		</array>
		<array>
			<string>Rabbits Foot</string>
			<string>There was a rabbit, now it is just a foot</string>
			<string>+5 Luck</string>
			<string>Luck</string>
		</array>
		<array>
			<string>Mask</string>
			<string>Hide your face, maybe you&apos;ll blend in</string>
			<string>+1 Stealth</string>
			<string>Stealth</string>
		</array>
		<array>
			<string>Net</string>
			<string>Trap the monsters with this net</string>
			<string>+2 Stealth</string>
			<string>Stealth</string>
		</array>
		<array>
			<string>Smoke Bomb</string>
			<string>And as your final act, you dissapear</string>
			<string>+3 Stealth</string>
			<string>Stealth</string>
		</array>
		<array>
			<string>Ninja Tabi</string>
			<string>Some serious ninja stuff</string>
			<string>+4 Stealth</string>
			<string>Stealth</string>
		</array>
		<array>
			<string>Cloak</string>
			<string>Now you can be invisible</string>
			<string>+5 Stealth</string>
			<string>Stealth</string>
		</array>
		<array>
			<string>Extra Bag</string>
			<string>Another backpack, sweet</string>
			<string>3 more inventory spaces</string>
			<string>Other</string>
		</array>
		<array>
			<string>Potion</string>
			<string>You should drink it</string>
			<string>+1 Evasion</string>
			<string>Other</string>
		</array>
		<array>
			<string>Potion</string>
			<string>This will make me strong</string>
			<string>+1 Attack</string>
			<string>Other</string>
		</array>
		<array>
			<string>Potion</string>
			<string>You feel your skin harden</string>
			<string>+1 Defense</string>
			<string>Other</string>
		</array>
		<array>
			<string>Potion</string>
			<string>To stay sane or go insane</string>
			<string>+1 Sanity</string>
			<string>Other</string>
		</array>
		<array>
			<string>Potion</string>
			<string>Bottoms up</string>
			<string>+1 Luck</string>
			<string>Other</string>
		</array>
		<array>
			<string>Potion</string>
			<string>You can almost see through it, or through you</string>
			<string>+1 Stealth</string>
			<string>Other</string>
		</array>
	</array>
</dict>
</plist>
